/* Small Screen */
.container {
  margin: 5rem 0;
  padding: 1rem 1rem;
  background: #fff;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__left {
  display: none;
}

.form__image {
  max-width: 100%;
  border-radius: 25px;
  height: auto;
}

.form__title {
  text-align: center;
  color: #00BFA6;
  font-size: 2.44rem;
  margin-bottom: 1rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form__label {
  margin-bottom: 1rem;
}

.form__input {
  outline: none;
  padding: 1rem 0.5rem;
  border-radius: 15px;
  border: 2px solid #00BFA6;
  background: white;
}

.form__input:focus {
  border: 2px solid #00BFA6;
}

.form__button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 15px;
  background-color: #00BFA6;
  color: #fff;
  display: block;
  margin: 0 auto;
  width: 100%;
  font-size: large;
  font-weight: bold;
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 100%;
    margin: 5rem 0;
    padding: 1rem 3rem;
  }

  .form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form__left {
    display: block;
    flex-basis: 60%;
  }

  .form__right {
    flex-basis: 40%;
  }
}
